<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="center-container">
      <div class="card">
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
          <input type="text" name="email" id="email" placeholder="Email" />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <input
            type="password"
            type="text"
            name="repassword"
            id="repassword"
            placeholder="Re-enter Password"
          />
          <button>LOGIN</button>
        </form>
      </div>
    </div>
  </body>
</html>
