/* General body styling */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5; /* Light grey background for contrast */
}

/* Style for the centering container */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Style for the card */
.card {
  width: 300px; /* Or any specific size */
  padding: 20px;
  -webkit-box-shadow: 1px 0px 50px 7px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 1px 0px 50px 7px rgba(0, 0, 0, 0.39);
  box-shadow: 1px 0px 50px 7px rgba(0, 0, 0, 0.39);
  border-radius: 10px; /* Slightly rounded corners for a softer look */
  background-color: white;
  text-align: center; /* Center-align the text and form elements */
}

.card h2 {
  padding-bottom: 0px;
}

/* Styling for form elements */
.card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box; /* Makes sure padding doesn't increase width */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card button {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  background-color: #2666aaa1; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.card button:hover {
  background-color: #0e4d909e; /* Darker shade for hover effect */
}

.card p {
  margin-top: 20px;
}

.card h2 {
  margin-bottom: 20px;
  color: #333;
}
